body {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: floralwhite;
}
html, body {
    height: 100%;
    width: 100vw;
}
.title {
    display: flex;
    align-items: center;
    margin: 3px;
}
.title h2 {
    text-align: center;
    align-items: center;
}
.title h1 {
    font-size: 26px;
    font-family: 'Alegreya';
}
.title img {
    max-height: 64px;
    width: auto;
    padding: 3px;
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
}
.title a {
    color: #fff !important;
    font-size: 26px;
    text-decoration: none;
}
/* Previously, for the standalone version, I was (below) using:   height: 90%   */
#map-container {
    position: relative;
    height: 100%;
    width: 95vw;
    padding: 5px;
}
#map {
    position: relative;
    height: inherit;
    width: inherit;
    color: black;
    background-color: white;
}


.leaflet-center {
    left: 50%;
    transform: translate(-50%, 0%);
}

.leaflet-middle {
    top: 50%;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
  transform: translate(0%, -50%);

}

.leaflet-center.leaflet-middle {
  transform: translate(-50%, -50%);
}

.leaflet-bottom.leaflet-right {
  transform: translate(0%, -10%); /* to keep it clear of the attributions location */
}




#legend {
  position: relative;
  top: 3px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 100px;
  max-width: 150px;
  background: rgba(255,255,255,0.6);
  opacity: 0.5;
}
.legendheading {
  position: relative;
  height: 25px;
  padding: 5px 2px 0px 2px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
.legenditem {
  padding: 2px;
  margin-bottom: 1px;
  font-size: 7pt;
  font-weight: bold;
}

/*Marker clusters*/
.marker-cluster-pie g.arc{
  fill-opacity: 0.5;
}
.marker-cluster-pie-label {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/*Markers*/
.marker {
  width: 18px;
  height: 18px;
  border-width: 2px;
  border-radius:10px;
  margin-top: -10px;
  margin-left: -10px;
  border-style: solid;
  fill: #CCC;
  stroke: #444;
  background: #CCC;
  border-color: #444;
}
.marker div{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/*marker categories*/
.category-m0{
  fill: #1F77B4;
  background: #1F77B4;
}
.category-m1{
  fill: #FF7F0E;
  background: #FF7F0E;
}
.category-m2{
  fill: #2CA02C;
                 background: #2CA02C;
               }
.category-m3{
  fill: #D62728;
                 background: #D62728;
               }

.category-m4{
  fill: #9467BD;
                 background: #9467BD;
               }
.category-m5{
  fill: #8C564B;
                 background: #8C564B;
               }
.category-m6{
  fill: #CFECF9;
                 background: #CFECF9;
               }
.category-m7{
  fill: #7F7F7F;
                 background: #7F7F7F;
               }
.category-m8{
  fill: #BCBD22;
                 background: #BCBD22;
               }
.category-m9{
  fill: #17BECF;
                 background: #17BECF;
               }


               .category-m10{
                fill: #D7B5A6;
                background: #D7B5A6;
              }
              .category-m11{
                fill: #FF7F0E;
                background: #FF7F0E;
              }
              .category-m12{
                fill: #2CA02C;
                               background: #2CA02C;
                             }
              .category-m13{
                fill: #D62728;
                               background: #D62728;
                             }
              
              .category-m14{
                fill: #9467BD;
                               background: #9467BD;
                             }
              .category-m15{
                fill: #8C564B;
                               background: #8C564B;
                             }
              .category-m16{
                fill: #CFECF9;
                               background: #CFECF9;
                             }
              .category-m17{
                fill: #7F7F7F;
                               background: #7F7F7F;
                             }
              .category-m18{
                fill: #BCBD22;
                               background: #BCBD22;
                             }
              .category-m19{
                fill: #F1CE63;
                               background: #F1CE63;
                             }

                             .category-m20{
                              fill: #1F77B4;
                              background: #1F77B4;
                            }
                            .category-m21{
                              fill: #FF7F0E;
                              background: #FF7F0E;
                            }
                            .category-m22{
                              fill: #2CA02C;
                                             background: #2CA02C;
                                           }
                            .category-m23{
                              fill: #D62728;
                                             background: #D62728;
                                           }
                            
                            .category-m24{
                              fill: #9467BD;
                                             background: #9467BD;
                                           }
                            .category-m25{
                              fill: #8C564B;
                                             background: #8C564B;
                                           }
                            .category-m26{
                              fill: #FF9D9A;
                                             background: #FF9D9A;
                                           }
                            .category-m27{
                              fill: #7F7F7F;
                                             background: #7F7F7F;
                                           }
                            .category-m28{
                              fill: #BCBD22;
                                             background: #BCBD22;
                                           }
                            .category-m29{
                              fill: #17BECF;
                                             background: #17BECF;
                                           }

                                           .category-m30{
                                            fill: #1F77B4;
                                            background: #1F77B4;
                                          }
                                          .category-m31{
                                            fill: #FF7F0E;
                                            background: #FF7F0E;
                                          }
                                          .category-m32{
                                            fill: #2CA02C;
                                                           background: #2CA02C;
                                                         }
                                          .category-m33{
                                            fill: #D62728;
                                                           background: #D62728;
                                                         }
                                          
                                          .category-m34{
                                            fill: #9467BD;
                                                           background: #9467BD;
                                                         }
                                          .category-m35{
                                            fill: #8C564B;
                                                           background: #8C564B;
                                                         }
                                          .category-m36{
                                            fill: #CFECF9;
                                                           background: #CFECF9;
                                                         }
                                          .category-m37{
                                            fill: #7F7F7F;
                                                           background: #7F7F7F;
                                                         }
                                          .category-m38{
                                            fill: #BCBD22;
                                                           background: #BCBD22;
                                                         }
                                          .category-m39{
                                            fill: #17BECF;
                                                           background: #17BECF;
                                                         }

/* E6D4A4 */

/*marker icons*/
.icon-1{
  background-image: url('dump-16.png');
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
.icon-2{
  background-image: url('dump-16.png');
  background-repeat: no-repeat;
  background-position: 1px 0px;
}
.icon-3{
  background-image: url('dump-16.png');
  background-repeat: no-repeat;
  background-position: 1px 0px;
}
.icon-4{
  background-image: url('dump-16.png');
  background-repeat: no-repeat;
  background-position: 1px 0px;
}

/*Popup*/
.map-popup span.heading {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
.map-popup span.attribute {
  display: block;
}
.map-popup span.label {
  font-weight: bold;
}


.attributions {
    width: 90%;
    padding: 5px;
    margin: 5px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: black;
    background-color: floralwhite;
    box-shadow: 0 0 15px floralwhite;
    border-radius: 5px;
}