{:xt/id "{{base-uri}}/sparql"
 :juxt.http.alpha/methods #{:get :post}
 :juxt.pass.alpha/classification "PUBLIC"

  ;; For GETing SPARQL queries
 :juxt.site.alpha/get-fn dcs.site.sparql/get-handler

 ;; For POSTing SPARQL queries
 :juxt.site.alpha/post-fn dcs.site.sparql/post-handler

 :juxt.http.alpha/post-error-representations
 [{:ring.response/status 400
   :juxt.http.alpha/content-type "text/plain"
   :juxt.site.alpha/body-fn dcs.site.sparql/post-error-text-body}]}