{:xt/id "{{base-uri}}/sparql"
 :juxt.http.alpha/methods #{:get :post}
 :juxt.pass.alpha/classification "PUBLIC"

 :juxt.site.alpha/access-control-allow-origins
 {#regex "http://localhost:\\p{Digit}+"
  {:juxt.site.alpha/access-control-allow-methods #{:post :options}
   :juxt.site.alpha/access-control-allow-headers #{"authorization" "content-type"}
   :juxt.site.alpha/access-control-allow-credentials true}}

 ;; For GETing SPARQL queries
 ;TODO :juxt.site.alpha/get-fn site-mod.sparql/get-handler

 ;; For POSTing SPARQL queries
 :juxt.site.alpha/post-fn site-mod.sparql/post-handler

 :juxt.http.alpha/post-error-representations
 [{:ring.response/status 400
   :juxt.http.alpha/content-type "text/plain"
   :juxt.site.alpha/body-fn site-mod.sparql/post-error-text-body}]}